.parallax {
  background-image: url("https://www.sweetwater.com/insync/media/2013/05/live-sound-microphone.jpg");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card {
  opacity: 0.85;
  border-radius: 10%;
  border: 5px solid black;
  text-align: center;
}
.special-title {
  font-style: italic;
  font-size: 12px;
}
.special_image {
  display: block;
  margin: auto;
  margin-bottom: 25px;
}
