.card {
  width: 100%;
  opacity: 0.85;
  border-radius: 10%;
  border: 5px solid black;
  text-align: center;
  margin: 0 10px;
}
.special-title {
  font-style: italic;
  font-size: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.card img {
  border: 1px solid black;
  display: inline-block;
  float: left;
  clear: left;
  margin-bottom: 15px;
}
.statistics {
  background-color: #e8ecef;
  text-align: center;
  opacity: 0.9;
  border-radius: 10%;
  border: 3px solid black;
  margin-bottom: 15px;
}
.three-stats {
  width: 30%;
  display: inline-block;
  vertical-align: top;
  margin: 0 -18px;
}
.three-stats img{
  border-radius: 50%;
  border: 3px solid black;
  height: 100px;
  width: 100px;
  margin: 25px 0;
}
.parallax {
  background-image: url("https://www.sweetwater.com/insync/media/2013/05/live-sound-microphone.jpg");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
